@import "vars.scss";

html, body {
    padding: 20px;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    background: $bg;
}

main {
    max-width: 500px;
    margin: 80px auto;
}

a {
    text-decoration: underline;
    color: #fff;
}
